/*** Global Custom Styles (Mobile-first) ***/

/* Header Section */

header h1 {
  color: green;
  font-size: 3em;
  font-family: Helvetica, sans-serif;
}

header h3 {
  font-family: cursive;
}

/* Main Navigation */

nav > ul > li {
  list-style: none;
}

nav > li > a {
  color: orange;
  text-decoration: none;
}
