<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>NihonGoFlip was designed and</li>
          <li>created by <a href="http://www.zac-heisey.com/">Zac Heisey</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>You can find the source code for NihonGoFlip at:<br>
        <a href="https://github.com/zac-heisey/NihonGoFlip">github.com/zac-heisey/NihonGoFlip</a></p>
      </div>
    </div>

  </div>
  <!-- JS Resources -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
  <script src="/js/main.js"></script>
</footer>
