<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>NihonGoFlip was designed and<br>
        created by <a href="http://www.zac-heisey.com/">Zac Heisey</a></p>
      </div>

      <div class="footer-col footer-col-2">
        {% if site.github_username %}
        <p>{% include icon-github.html username=site.github_username %}<br>
        {% endif %}

        {% if site.twitter_username %}
          {% include icon-twitter.html username=site.twitter_username %}</p>
        {% endif %}
      </div>

      <div class="footer-col footer-col-3">
        <p>You can find the source code for NihonGoFlip at:<br>
        <a href="https://github.com/zac-heisey/NihonGoFlip">github.com/zac-heisey/NihonGoFlip</a></p>
      </div>
    </div>

  </div>
  <!-- JS Resources -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{{ "/js/main.js" | prepend: site.github.url }}"></script>
</footer>
