<!DOCTYPE html>
<html>

  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}

    <div class="page-content">
      <div class="wrapper">
        {{ block "main" . }}{{ end }}
      </div>
    </div>

    {{ partial "footer.html" . }}

    <!-- Netlify CMS Snippet -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

  </body>

</html>
